/* /////////////////////
SCALE SHIFT
///////////////////// */

@media (max-width: 68em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

/* ////////////////////
One column, social grid, for touch screen devices, landscape tablets basically
Below 900px
//////////////////// */

/* To close Discord button earlier than before, well, I can also reduce the gap */
@media (max-width: 75em) {
  .wrapper .button:nth-child(1).open {
    display: none;
  }
  .wrapper .button:nth-child(1).close {
    display: inline-block;
    width: 6rem;
  }
  .wrapper .button:nth-child(1):hover.close {
    display: inline-block;
    width: 34.5rem;
  }
  .wrapper .button:nth-child(1):hover {
    background-color: #5865f2;
  }
  .wrapper .button:nth-child(1):hover .icon-box {
    background-color: #5865f2;
  }
}

/* ////////////////////
Shifting to one column
Below 822px
//////////////////// */

@media (max-width: 56.25em) {
  .about-container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 4.8rem;
  }
  .img-box {
    width: 50%;
  }
  .about-box {
    width: 70%;
  }
}

/* For making the social section in 2 rows */
@media (max-width: 44.5em) {
  .materials-grid {
    grid-template-columns: 1fr;
    gap: 6.2rem;
    justify-content: center;
  }
  .bbs {
    grid-column: 1/2;
  }
  .material-blcok {
    width: 68%;
    justify-items: center;
    grid-template-columns: 1fr;
  }

  .material-text {
    padding: 0;
  }
}
/* For fixing the about text and the main pfp,
basically the img box */
@media (max-width: 49.125em) {
  .img-box {
    width: 60%;
  }
}
@media (max-width: 41.75em) {
  .img-box {
    width: 70%;
  }
}
@media (max-width: 37.25em) {
  .img-box {
    width: 80%;
  }
}
@media (max-width: 32.5em) {
  .img-box {
    width: 90%;
  }
}
@media (max-width: 29em) {
  .img-box {
    width: 100%;
  }
}

/* about box width */
@media (max-width: 42.625em) {
  .about-box {
    width: 100%;
  }
}
/* Materials container width */
@media (max-width: 37.75em) {
  .material-blcok {
    width: 90%;
  }
}
@media (max-width: 35.7em) {
  .materials-container {
    padding: 0 6%;
  }
  .material-blcok {
    width: 100%;
  }
}

/* Social components, to make it responsive
Making it a grid and removing the hover effect */
@media (max-width: 48.75em) {
  body .socials-section .wrapper .button:hover {
    width: 6rem;
  }
  .wrapper .button:nth-child(1):hover.open {
    width: 6rem;
  }
  .wrapper .button:nth-child(4):hover {
    width: 6rem;
  }
  .wrapper .button:nth-child(7):hover {
    width: 6rem;
  }
  .wrapper .button:nth-child(1):hover {
    background-color: #5865f2;
  }
  .wrapper .button:nth-child(1):hover .icon-box {
    background-color: #5865f2;
  }
  /* For making a zooming on hover effect */
  body .socials-section .wrapper .button {
    transform: scale(1.1);
  }
  body .socials-section .wrapper .button:hover {
    transform: scale(1.2);
  }

  .wrapper .button:nth-child(2):hover {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    transform: translate(0);
  }
  .wrapper .tr-up:hover {
    transform: translateX(0) translateY(0);
  }
  .button:nth-child(2):hover .mar-top {
    transform: translate(0);
  }

  /* about box width */
  .about-box {
    width: 100%;
  }
  .about-container {
    padding: 0 8%;
  }
  html body .socials-section .wrapper {
    gap: 3rem;
  }
}

/* Flex container padding */
@media (max-width: 31.25em) {
  .about-container {
    padding: 0 8%;
  }
}

/* Mobile spacing fix */
@media (max-width: 33.8em) {
  .socials-section {
    padding-bottom: 8rem;
  }
  .testimonials-section {
    padding-top: 8rem;
  }
}

/* For using Lato font on join ov heading */
@media (min-width: 44.75em) {
  .join-ov-heading {
    letter-spacing: 2pt;
    word-spacing: 2pt;
  }
}
@media (max-width: 44.75em) {
  .join-ov-heading {
    letter-spacing: 1pt;
  }
}
@media (max-width: 39.375em) {
  html body .socials-section .wrapper {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
  }
  .socials-section {
    padding-top: 6.4rem;
    padding-bottom: 8rem;
  }
  /* .button:nth-child(1) {
    grid-row: 1;
    grid-column: 1/2;
  }
  .button:nth-child(2) {
    grid-row: 1;
    grid-column: 2/4;
  }
  .button:nth-child(3) {
    grid-row: 1;
    grid-column: 4/6;
  }
  .button:nth-child(4) {
    grid-row: 1;
    grid-column: 6/8;
  }
  .button:nth-child(5) {
    grid-row: 2;
    grid-column: 1 / 3;
    justify-self: start;
  } */
  /* .button:nth-child(6) {
    grid-row: 2;
    grid-column: 4 /6;
  } */
  /* .button:nth-child(7) {
    grid-row: 2;
    grid-column: 5 / 7;
  } */
}

/* For fixing the 3 line heading of the last heading */

/* Last heading letter and word spacing */

/* Font sizes (px) 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- Spacing system (px) 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

@media (max-width: 24.875em) {
  html body .socials-section .wrapper {
    transform: scale(1);
    gap: 3.4rem;
  }
}

/* For increasing the padding of the join ov heading */
@media (min-width: 39.75em) {
  .join-ov-heading {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

/* Making the video responsive */
@media (max-width: 51em) {
  .lesson-thumbnail,
  .video {
    width: 60rem;
  }
}
@media (max-width: 33.75em) {
  .lesson-thumbnail,
  .video {
    width: 50rem;
  }
}
@media (max-width: 27.875em) {
  .lesson-thumbnail,
  .video {
    width: 48rem;
  }
}
@media (max-width: 26em) {
  .lesson-thumbnail,
  .video {
    width: 46rem;
  }
}
@media (max-width: 23.5em) {
  .lesson-thumbnail,
  .video {
    width: 40rem;
  }
}
@media (max-width: 21.25em) {
  .lesson-thumbnail,
  .video {
    width: 37rem;
  }
}

/* /////////////////////
CTA SECTION
///////////////////// */

@media (max-width: 60.25em) {
  .cta-container {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 4.8rem;
  }
  .cta-box {
    width: 45rem;
  }
  .ov-description {
    margin: 0;
  }
  .cta-btn {
    margin-top: 2.4rem;
  }
  .cta-box:hover {
    transform: scale(1);
  }
  .ov-box:hover {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  }
  .lessons-box:hover {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
  }
  .patreon-box:hover {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 27.75em) {
  .cta-section {
    padding-top: 2.4rem;
  }
  .cta-box {
    width: 89%;
  }
  .testimonials-section {
    padding-top: 6.4rem;
  }
  .testimonials-heading {
    margin-bottom: 4rem;
  }
}

/* /////////////////////
THE POINT SECTION
///////////////////// */

/* Handle that image */
@media (max-width: 57.375em) {
  .yourserver-img {
    width: 30%;
  }
}
@media (max-width: 49.25em) {
  .yourserver-img {
    width: 35%;
  }
  .flexbox {
    justify-content: flex-start;
    gap: 4.8rem;
  }
}

/* ONE COLUMN SHIFT */
@media (max-width: 45.82em) {
  .flexbox {
    flex-direction: column;
    align-items: center;
  }
  .yourserver-img {
    align-self: center;
  }
  .text-box {
    width: 80%;
  }
  .more-margin {
    margin-bottom: 6.4rem;
  }
}
@media (max-width: 36.25em) {
  .yourserver-img {
    width: 50%;
  }
}
@media (max-width: 34.375em) {
  .text-box {
    width: 94%;
  }
  .main-heading {
    letter-spacing: 2pt;
    margin-bottom: 6.4rem;
  }
}
@media (max-width: 31em) {
  .main-heading {
    word-spacing: 0.6rem;
  }
}
@media (max-width: 30em) {
  .main-heading {
    word-spacing: 0.3rem;
    letter-spacing: 1pt;
  }
  .more-margin {
    text-align: start;
    padding-left: 2%;
  }
}
@media (max-width: 28.75em) {
  .main-heading {
    font-size: 2.8rem;
  }
}
@media (max-width: 27.25em) {
  .yourserver-img {
    width: 70%;
  }
  .pricing-section {
    padding-top: 9.6rem;
  }
}

@media (max-width: 23.82em) {
  h1.main-heading {
    font-size: 2.6rem;
    line-height: 1.3;
  }
}
@media (max-width: 23em) {
  .pricing-heading {
    line-height: 1.3;
  }
}
@media (max-width: 23em) {
  h1.main-heading {
    font-size: 2.45rem;
  }
}

/* /////////////////////
PLANS SECTION
///////////////////// */

@media (max-width: 51.125em) {
  .plan-box.free:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .plan-box.paid:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  .plan-box.free:hover,
  .plan-box.paid:hover {
    /* transform: translateY(-2%); */
    transform: scale(1);
  }
  .card-flex {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }
  .plan-box {
    width: 80%;
  }
  #pricing {
    /* padding-top: 4rem; */
    /* padding-bottom: 10rem; */
  }
  .pricing-section {
    padding-bottom: 4rem;
  }
  .free-btn.plan-btn,
  .paid-btn.plan-btn {
    margin-top: 3.2rem;
    padding: 1.7rem;
  }
  .plan-box {
    padding-bottom: 6.4rem;
  }
  #lesson-options {
    /* padding-bottom: 4.4rem; */
  }
  #pricing {
    /* padding-top: 4.4rem; */
  }
}

@media (max-width: 34em) {
  .plan-box {
    width: 97%;
  }
}
@media (max-width: 23.75em) {
  .plan-box {
    width: 100%;
  }
  .plan-box.free,
  .plan-box.paid {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

/* /////////////////////
PRICING SECTION
///////////////////// */

@media (max-width: 39.25em) {
  .pricing-box {
    width: 100%;
  }
  .plan-text h3 {
    line-height: 1.4;
    margin-bottom: 0.4rem;
  }
  .plan-text {
    width: 70%;
  }
  .price {
    font-size: 4.4rem;
  }
  .euro {
    font-size: 3.4rem;
  }
  .pricing-heading,
  .plan-flex {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .pricing-section .main-btn {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (max-width: 31.375em) {
  .plan-text p {
    font-size: 1.65rem;
    line-height: 1.6;
  }
  .plan-text {
    width: 78%;
  }
  .plan-text h3 {
    font-size: 2.2rem;
  }
}

@media (max-width: 27.125em) {
  a.main-btn:link {
    font-size: 1.915rem;
  }
}
@media (max-width: 26.5em) {
  .plan-text {
    width: 75%;
  }
}
@media (max-width: 26.5em) {
  a.main-btn:link {
    line-height: 1.2;
  }
}
@media (max-width: 21.56em) {
  .pricing-section .main-btn {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media (max-width: 20.25em) {
  .pricing-box .main-btn {
    line-height: 1.1;
  }
}

/* /////////////////////
FIXING SPACES FOR SMALLER SCREEN DEVICES
///////////////////// */

@media (max-width: 33.8em) {
  #pricing {
    /* padding-bottom: 8rem; */
  }
}

/* Fixes for Montserrat font */

@media (max-width: 26.5625em) {
  .main-section .main-subheading {
    font-size: 3rem;
  }
  h1.main-heading {
    letter-spacing: normal;
  }
  .pricing-heading {
    font-size: 3.4rem;
  }
  a.main-btn:link {
    text-transform: none;
    padding: 1.6rem;
  }
}

/* /////////////////////
CALENDLY SECTION
///////////////////// */

@media (max-width: 68em) {
  .calendly-inline-widget {
    transform: scale(1.2);
    height: 55rem;
    box-shadow: none;
  }
  .calendly-heading {
    /* margin-bottom: 0; */
  }
  .contacts-section {
    /* padding-top: 3.2rem; */
  }
}
@media (max-width: 64em) {
  .calendly-inline-widget {
    transform: scale(1.1);
    height: 62rem;
    width: 50rem;
  }
  .calendly-heading {
    /* transform: translateY(-200%); */
  }
}
@media (max-width: 32.75em) {
  .calendly-inline-widget {
    transform: scale(1);
    height: 69.3rem;
    width: 96%;
  }
  .calendly-heading {
    /* transform: translateY(-120%); */
    text-align: start;
    padding-left: 2%;
  }
  .calendly-section {
    padding-top: 6.4rem;
    /* padding: 9rem 0; */
    /* padding-bottom: 1.8rem; */
  }
  .plans-section {
    /* padding-bottom: 10rem; */
  }
  .contacts-section {
    /* padding-top: 0; */
  }
}
@media (max-width: 27em) {
  .calendly-section {
    /* padding-bottom: 4.8rem; */
  }
  .contacts-section {
    /* padding-top: 4.8rem; */
  }
  .contact-box {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  html .contact-box textarea {
    height: 100px;
  }
}
/* Minor adjustment */
@media (max-width: 33em) {
  .plans-section {
    /* padding-bottom: 8rem; */
  }
}

/* Increase font size on phone */
@media (max-width: 30.5em) {
  .feature-text,
  .plan-feature-p,
  .contact-box label,
  .contact-box textarea,
  .contact-box input,
  .contact-box button {
    font-size: 1.86rem;
  }
}

/* Some adjustments */
@media (max-width: 25.175em) {
  #lesson-options {
    padding-top: 6.4rem;
  }
}
@media (max-width: 24.875em) {
  .main-section {
    padding-top: 8rem;
  }
}

/* /////////////////////
TESTIMONIALS SECTION
///////////////////// */

@media (max-width: 27.75em) {
  .testimonials-heading {
    letter-spacing: normal;
    font-weight: 700;
    text-align: start;
    padding-left: 2rem;
  }
  .message-box {
    box-shadow: none;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media (max-width: 26.375em) {
  .testimonials-heading {
    font-size: 3.6rem;
    margin-bottom: 4.8rem;
  }
  .testimonials-container {
    padding: 0 5%;
  }
  .message-box {
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* /////////////////////
PATREON SECTION
///////////////////// */

@media (max-width: 42.5em) {
  .patreon-heading {
    font-size: 2.5rem;
    margin-bottom: 1.4rem;
  }
  .patreon-wrapper {
    width: 41rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    padding: 4.2rem 3rem;
  }
  .patreon-button {
    margin: 0;
    padding: 2rem 8rem;
    font-size: 1.94rem;
  }
  .img-patreon {
    margin-bottom: 2.8rem;
    width: 14rem;
  }
  .patreon-text {
    margin-bottom: 5rem;
  }
  .socials-section {
    padding-top: 7rem;
    padding-bottom: 6.4rem;
  }
  .patreon-section {
    padding-bottom: 8;
  }
}
@media (max-width: 25em) {
  .patreon-wrapper {
    width: 97%;
  }
}
@media (max-width: 21.5em) {
  .patreon-heading {
    line-height: 1.3;
  }
}

/* Increase font size on phone */
@media (max-width: 30.5em) {
  .about-text,
  .patreon-p,
  .message {
    font-size: 1.86rem;
  }
}

/* MOBILE NAVIGATION */
@media (max-width: 58.75em) {
  .nav-container {
    display: none;
  }

  .header-container {
    padding: 0 8%;
  }

  .nav-icon-outside {
    display: flex;
    height: 100%;
    width: 3.7rem;
    cursor: pointer;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
    transition: all 0.2s;

    /* will show with javascript */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .overlay-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .mobile-nav-container {
    display: block;
    background-color: #fff;
    z-index: 99999;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 34%;
    transition: all 0.2s ease;
    overflow-y: scroll;

    /* Go to the right side */
    transform: translateX(100%);
  }

  .mobile-nav-open {
    /* Come in */
    transform: translateX(0);
  }

  .mobile-nav-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .mobile-nav-links {
    font-weight: 500;
    color: #000;
    display: block;
    font-size: 2.2rem;
    padding: 2.3rem 0;
    padding-left: 4.8rem;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  .mobile-nav-links:hover {
    color: #c62d65;
  }

  .mobile-nav-links:last-child {
    /* padding-bottom: 0; */
    border-bottom: none;
  }

  .nav-icon-inside {
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 5.7rem;
    margin-right: 4rem;
    margin-top: 1.75rem;
    height: 3.7rem;
    width: 3.7rem;
  }
  .mobile-nav-container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 43.25em) {
  .mobile-nav-container {
    width: 45%;
  }
}
@media (max-width: 35.125em) {
  .mobile-nav-container {
    width: 62%;
  }
}
@media (max-width: 25.5em) {
  .mobile-nav-container {
    width: 69%;
  }
}

@media (max-height: 31.125em) {
  .mobile-nav-container {
    padding-bottom: 9.6rem;
  }
}

/* NEW PRICING SECTION QUERIES */

@media (min-width: 48.375em) {
  .box-pricing:nth-child(4),
  .box-pricing:nth-child(5),
  .box-pricing:nth-child(6) {
    height: 46.7rem;
    padding-top: 7.2rem;
  }
  .box-pricing:nth-child(4) .item-description,
  .box-pricing:nth-child(5) .item-description,
  .box-pricing:nth-child(6) .item-description {
    line-height: 1.55;
  }
}
@media (max-width: 48.375em) {
  .grid-pricing {
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }
  .box-pricing:nth-child(3) {
    padding-top: 7rem;
    height: auto;
  }
  .popup-open {
    transform: translate(-50%, -50%);
  }
  /* .rec-tag {
    top: 6%;
    left: 55%;
  } */
  .box-pricing {
    height: auto;
    width: 47rem;
    padding-bottom: 4rem !important;
    padding-top: 7rem;
  }
  .box-pricing:nth-child(5) {
    padding-top: 9.3rem;
  }
  .rec-tag {
    font-size: 1.915rem;
    line-height: 1.23;
    padding: 0.8rem 2.4rem;
  }
  .item-description {
    margin-bottom: 8rem;
    font-size: 1.915rem;
    line-height: 1.6;
  }
  .contact-box button {
    margin-left: 0.04rem;
    padding: 1.2rem 5rem !important;
    margin-top: 3rem !important;
  }
  .price {
    font-size: 5.5rem;
  }
  .item-name {
    font-size: 2.4rem;
  }
  .buy-btn {
    padding: 1.9rem;
    font-size: 2rem;
  }
  .plan-btn {
    line-height: 1.5;
  }
  .contact-box textarea,
  .contact-box input {
    font-size: 1.9rem;
  }
  .contact-box button {
    padding: 1.4rem 10rem;
    margin-top: 4rem;
  }
}

@media (max-width: 26.375em) {
  .pricing-h2 {
    text-align: start;
    padding-left: 2%;
  }
  .box-pricing {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .margin-modify {
    margin-bottom: 2.6rem;
  }
}

/* Paypal buttons */
@media (max-width: 33.25em) {
  .payment-popup {
    width: 90%;
  }
}

/* Recommended tag adjustment */
/* @media (max-width: 25.375em) {
  .rec-tag {
    top: 6.5%;
    left: 51%;
  }
}
@media (max-width: 24.25em) {
  .rec-tag {
    top: 6.5%;
    left: 49%;
  }
}
@media (max-width: 23.5em) {
  .rec-tag {
    top: 5%;
    left: 49%;
  }
}
@media (max-width: 22.375em) {
  .rec-tag {
    top: 7%;
    left: 42%;
  }
} */
@media (max-width: 24.0625em) {
  .box-pricing {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}
@media (max-width: 21.375em) {
  html body .socials-section .wrapper {
    gap: 3.4rem;
    transform: scale(0.94);
  }
}

@media (max-width: 48.75em) {
  .testimonials-container {
    max-width: 120rem;
    padding: 0 5%;
  }

  .grid-testimonials {
    grid-template-columns: 1fr;
  }
  .message-box {
    max-width: 100ch;
    margin-inline: auto;
  }
}
@media (max-width: 35.375em) {
  .form-flex {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
  .form-subject {
    grid-column: span 1;
  }
  .form-message {
    grid-column: span 1;
  }
}
