/* ////////////////////
IMPORTS
//////////////////// */

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ////////////////////
GLOBAL RESET
//////////////////// */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ////////////////////
VARIABLES
//////////////////// */

:root {
  --primary-gray: #222;
  --secondary-gray: #2b2b2b;
  --somewhat-different-gray: #222121;

  --dark-pink: #d6437e;
  --dark-accent-color: #dcd4ff;
  --dark-accent-fade-color: #c9c4e0;

  --btn-pink: #ee588c;
  --btn-pink-new: #e5748f;
  --btn-pink-new-hover-state: #d6627b;
  --pink-text: #c62d65;

  --font-size-h1: 3.2rem;
  --font-size-secondary-heading: 3.6rem;
  --font-size-tertiary: 2.4rem;
  --font-size-small-p: 1.5rem;
  --font-size-p-primary: 1.8rem;
}

/* ////////////////////
GENERAL REUSABLE
//////////////////// */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.01);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--btn-pink-new);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--btn-pink-new-hover-state);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--primary-gray);
  overflow-x: hidden;
  position: relative;
}

li {
  list-style: none;
}

.italic-text {
  font-style: italic;
}

p,
blockquote {
  word-spacing: 0.8pt;
}

strong {
  font-weight: 700;
}

.section-margin {
  margin-bottom: 6.4rem;
}

a {
  text-decoration: none;
}

::selection {
  background-color: pink;
}

/* ////////////////////
HEADER
//////////////////// */

.header-section {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 65;

  height: 7.2rem;
  background-color: rgba(255, 255, 255, 0.97);
  /* padding-left: 10rem;
  padding-right: 131px; */
  /* box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 5%;
}

.logo-link {
  cursor: pointer;
}

.header-logo {
  width: 5rem;
}

.nav-container {
  height: 100%;
}

.nav-flex {
  display: flex;
  align-items: stretch;
  gap: 4.8rem;
  height: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 500;
  font-size: var(--font-size-small-p);
  transition: all 0.1s;
}

.nav-links:hover {
  color: var(--pink-text);
}

/* MOBILE NAVIGATION BUTTON */

.mobile-nav-container {
  display: none;
}

.hide-bars {
  display: none;
}

.nav-icon-outside {
  display: none;
}

.open {
  display: block;
}

.nav-btn {
  height: 2.4rem;
  width: 2.4rem;
}

.no-scroll {
  overflow-y: hidden;
}

/* ////////////////////
ABOUT SECTION
//////////////////// */

.about-section {
  padding-top: 12rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.about-container {
  max-width: 130rem;
  margin: 0 auto;

  display: grid;
  padding: 0 5%;
  align-items: center;
  /* justify-items: center; */
  /* grid-template-columns: 1.1fr 1fr; */

  /* NEW */
  /* grid-template-columns: 1fr;
  justify-items: center;
  gap: 4.8rem; */
  justify-content: space-between;
  grid-template-columns: 1fr 1.3fr;
}

.img-box {
  position: relative;
  /* width: 97%; */
}

/* .img-box {
  width: 40%;
} */

.mia-img {
  position: relative;
  border-radius: 50%;
  width: 90%;
}

.badge {
  position: absolute;
  width: 30%;
  top: 68%;
  right: 7%;
}

.h1 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  letter-spacing: normal;
  color: var(--secondary-gray);
}

.about-text {
  display: flex;
  gap: 1.4rem;
  flex-direction: column;
  font-size: var(--font-size-p-primary);
  line-height: 1.7;
  color: #000;
}
.lil-more-margin-top {
  margin-top: 0.5rem;
}

/* NEW */
@media (min-width: 56.25em) {
  .about-container {
    align-items: start;
  }
  .mia-img {
    margin-top: 4rem;
  }
  .img-box {
    transform: translateX(-10%);
  }
  .about-box {
    width: 92%;
  }
}

/* ////////////////////
SOCIAL COMPONENT
//////////////////// */

.socials-section {
  padding: 8rem 0;
  padding-bottom: 1.6rem;
}

.wrapper {
  display: flex;
  gap: 2.4rem;
  max-width: 120rem;
  margin: 0 auto;
  justify-content: center;
}

.wrapper .button {
  display: inline-block;
  height: 6rem;
  width: 6rem;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  overflow: hidden;
  transition: all 0.3s ease;
}

.wrapper .button .icon-box {
  display: inline-block;
  text-align: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 6rem;
  transition: all 0.3s ease-out;
}

.wrapper .button .icon-box i {
  font-size: 2.5rem;
  line-height: 6rem;
}

.wrapper .button:hover .icon-box i {
  color: #fff;
}
.wrapper .button .icon-box i {
  color: #fff;
}

.wrapper .button .social-span {
  color: #fff;
  text-shadow: 1.6px 1.6px 1.6px rgba(0, 0, 0, 0.1),
    2px 2px 2px rgba(0, 0, 0, 0.1);
}

.wrapper .button .social-span:hover {
  text-decoration: none;
}

.wrapper .button .social-span {
  font-size: 2rem;
  font-weight: 700;
  line-height: 6rem;
  margin-left: 1rem;
  transition: all 0.5s ease-out;
  line-height: 1.6;
}

.wrapper .button:hover {
  width: 26rem;
}

/* normal */
.wrapper .button:nth-child(1) .icon-box {
  background-color: #5865f2;
}
.wrapper .button:nth-child(2) .icon-box {
  background-color: #6441a5;
}
.wrapper .button:nth-child(3) .icon-box {
  background-color: #fb3c6c;
}

/* hover */
.wrapper .button:nth-child(1):hover {
  background-color: #4e59d2;
}
.wrapper .button:nth-child(1):hover .icon-box {
  background-color: #4e59d2;
}
.wrapper .button:nth-child(2):hover {
  background-color: #6441a5;
}
.wrapper .button:nth-child(3):hover {
  background-color: #fb3c6c;
}

/* To make some buttons bigger */
.wrapper .button .opcity-btn {
  line-height: 0.3;
}
.button .social-span {
  opacity: 0;
  /* display: none; */
  transition: all 0.5s ease-in-out;
  transition-delay: 0.1s;
  white-space: nowrap;
}
.button:nth-child(1) .social-span {
  opacity: 1;
  /* display: none; */
}
.button:hover .social-span {
  opacity: 1;
  /* display: contents; */
}
.button:nth-child(2) .opcity-btn {
  opacity: 0;
  /* display: none; */
  transition: all 0.5s ease-in-out;
  transition-delay: 0.1s;
  white-space: nowrap;
}
.button:nth-child(2):hover .opcity-btn {
  opacity: 1;
  /* display: contents; */
}
.wrapper .button:nth-child(2):hover {
  width: 38rem;
  height: 9.4rem;
}

.wrapper .button .mar-top {
  transition: all 0.2s ease;
}
.button:nth-child(2):hover .mar-top {
  transform: translateX(0rem) translateY(1.5rem);
}
.wrapper .tr-up:hover {
  transform: translate(0, -1.5rem);
}

.mar-left {
  margin-left: 7.46rem;
  opacity: 0;
  transition: all 1s ease;
}
.button:nth-child(2):hover .mar-left {
  opacity: 1;
}
.wrapper .button:nth-child(3):hover {
  width: 29.3rem;
}

/* Is this possible? 82.5rem*/
.wrapper {
  height: 12rem;
  flex-shrink: 0;
  margin-left: 1%;
  margin-right: 1%;
  width: 100%;
}

/* For keeping it open always */
.wrapper .button:nth-child(1).open {
  width: 35rem;
}

.wrapper .button:nth-child(1) {
  background-color: #5865f2;
}

/* Margin right of the wrapper */
html body .socials-section .wrapper {
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  width: auto;
  max-width: 100%;
}

/* For aligning the texts in the socials section's button */
html body .socials-section .wrapper .button:nth-child(1) .social-span {
  transform: translate(0px, -1.6px);
  display: inline-block;
}
html body .socials-section .wrapper .button:nth-child(3) .social-span {
  transform: translate(0px, -1.6px);
  display: inline-block;
}
html body .socials-section .wrapper .button:nth-child(4) .social-span {
  transform: translate(0px, -1.6px);
  display: inline-block;
}
html body .socials-section .wrapper .button:nth-child(5) .social-span {
  transform: translate(0px, -1.6px);
  display: inline-block;
}
html body .socials-section .wrapper .button:nth-child(6) .social-span {
  transform: translate(0px, -1.6px);
  display: inline-block;
}
html body .socials-section .wrapper .button:nth-child(7) .social-span {
  transform: translate(0px, -1.6px);
  display: inline-block;
}

/* For fixing a bug */
.social-span {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  pointer-events: none;
}

/* ////////////////////
PATREON SECTION
//////////////////// */

.patreon-section {
  padding-bottom: 9.6rem;
}

.patreon-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5%;
}

.patreon-wrapper {
  background-color: #ffd0e5;
  width: 75rem;
  padding: 1.8rem 4rem;
  margin: 0 auto;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
}

.img-patreon {
  width: 11rem;
  border-radius: 50%;
}

.patreon-heading {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.patreon-p {
  font-size: var(--font-size-p-primary);
}

.patreon-button {
  margin-left: auto;
  background-color: var(--btn-pink);
  font-size: var(--font-size-p-primary);
  color: #fff;
  padding: 1.5rem 2.6rem;
  border-radius: 12px;
  font-weight: 500;
}

.patreon-button:hover {
  background-color: #ff77a7;
}

/* ////////////////////
OBJECTIVE SECTION
//////////////////// */

.main-section {
  padding: 9.6rem 0;
  background-color: #fff0f6;
}

.main-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5%;
}

.main-heading {
  display: table;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: var(--font-size-secondary-heading);
  font-weight: 800;
  text-align: center;
  margin-bottom: 9.6rem;
  letter-spacing: 1pt;
  background-color: #e64980;
  padding: 1.6rem 3.2rem;
  color: #fff;
  word-spacing: 0.8rem;
  line-height: 1.2;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.flexbox {
  display: flex;
  justify-content: space-around;
}

.text-box {
  width: 55rem;
}

.main-subheading {
  font-weight: 600;
  font-size: var(--font-size-secondary-heading);
  line-height: 1.3;
  margin-bottom: 2.8rem;
}

.feature-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feature-text {
  font-size: var(--font-size-p-primary);
  color: #000;
  line-height: 1.7;
  /* letter-spacing: 0.4pt; */
}

strong {
  color: var(--primary-gray);
}

.yourserver-img {
  width: 23.4%;
  /* align-self: flex-end; */
}

/* ////////////////////
PLANS SECTION
//////////////////// */

.plans-section {
  background-color: #fff;
  color: var(--somewhat-different-gray);
  padding: 9.6rem 0;
}

.plans-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5%;
}

/* Plans */
.pink-small-heading {
  text-align: center;
  color: #c2255c;
  font-size: 1.9rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.more-margin {
  margin-bottom: 6.2rem;
  text-align: center;
  font-weight: 600;
  font-size: var(--font-size-secondary-heading);
}

.card-flex {
  display: flex;
  gap: 3rem;
}

.plan-box {
  background-color: #fff;
  padding: 4.8rem 4rem;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  width: 50%;
  border-radius: 6px;
  transition: all 0.2s ease-out;
  padding-bottom: 9.6rem;
}

.plan-box p {
  font-size: var(--font-size-p-primary);
  line-height: 1.6;
  color: #000;
}

.plan-heading {
  font-size: var(--font-size-secondary-heading);
  margin-bottom: 4.4rem;
  font-weight: 500;
}

.plan-feature-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 90%;
}

.plan-feature-item {
  display: flex;
  align-items: center;
  gap: 2rem;

  align-items: flex-start;
}

.free-icon,
.paid-icon {
  font-size: 2.4rem;
  transform: translateY(14%);
}

.x {
  color: #e35555;
}

.plan-btn:link {
  font-size: var(--font-size-p-primary);
  width: 100%;
  display: block;
  padding: 1.4rem;
  line-height: 1.3;
  border-radius: 14px;
  text-align: center;
  transition: all 0.1s ease-in;
}

.free-btn.plan-btn,
.paid-btn.plan-btn {
  margin-top: auto;
}

.free-btn.plan-btn {
  background-color: transparent;
  border: 1px solid var(--somewhat-different-gray);
  color: var(--somewhat-different-gray);
  font-weight: 500;
  text-align: center;
}

.free-btn.plan-btn:hover {
  text-decoration: none;
  background-color: var(--primary-gray);
  border-color: var(--primary-gray);
  color: #fff;
  font-weight: 700;
}

/* Paid */
.paid {
  /* background: rgb(94, 28, 201);
  background: linear-gradient(
    146deg,
    rgba(94, 28, 201, 1) 0%,
    rgba(254, 90, 180, 1) 100%
  ); */

  background: #d6437e;

  /* In hex: #fe5ab4 #5e1cc9 */

  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
}

.free:hover,
.paid:hover {
  /* transform: scale(1.02); */
}

.free:hover {
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); */
}

.paid:hover {
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); */
}

/* dark */

.paid-icon {
  color: #fff;
}

.paid .plan-heading {
  color: #fff;
  font-weight: 700;
}

.paid p {
  color: #fff;
  font-weight: 700;
}

.paid-btn.plan-btn {
  border: none;
  border: 1px solid #fff;
  color: #000;
  background-color: #fff;
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: var(--font-size-p-primary);
  border-radius: 14px;
  text-align: center;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.paid-btn.plan-btn:hover {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  background-color: hwb(227 54% 0%);
  border-color: #a2b6ff;
}

.free-btn.plan-btn,
.paid-btn.plan-btn {
  border-radius: 6px;
  padding: 1.5rem;
  line-height: 1.5;
}
.free {
  border: 1px solid var(--somewhat-different-gray);
  box-shadow: none;
}
.paid {
  border: 1px solid var(--dark-pink);
}

/* ////////////////////
PRICING SECTION
//////////////////// */
.section-pricing {
  background-color: #f3f0ff;
  padding: 8rem 0;
}
.container-pricing {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5%;
}
.pricing-h2 {
  text-align: center;
  margin-bottom: 5.2rem;
}
.grid-pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
  column-gap: 4rem;
  justify-content: center;
  width: 71%;
  margin: 0 auto;
}
.box-pricing {
  background-color: #fff;
  height: 45rem;
  width: 44rem;
  margin: 0 auto;
  padding: 4rem;
  padding-top: 6rem;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  overflow: hidden;
}
@media (min-width: 82.375em) {
  .box-pricing {
    height: 45rem;
    max-width: 40rem;
  }
}
@media (max-width: 82.375em) {
  .grid-pricing {
    grid-template-columns: repeat(2, 1fr);
  }
  .box-pricing:nth-child(3) {
    height: 46.7rem;
    padding-top: 7.2rem;
  }
}
.flex-price {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.price {
  display: block;
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.item-name {
  display: block;
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3.4rem;
  line-height: 1.4;
}
.price,
.item-description,
.item-name,
.buy-btn {
  text-align: center;
}
.buy-btn {
  line-height: 1.3;
}

.item-description,
.item-description strong {
  color: var(--secondary-gray);
  line-height: 1.5;
  margin-bottom: auto;
  font-size: 1.7rem;
}
.buy-btn {
  background-color: var(--btn-pink-new);
  color: #fff;
  display: table;
  width: 97%;
  margin: 0 auto;
  padding: 1.6rem;
  font-size: var(--font-size-p-primary);
  font-weight: 700;
  border-radius: 6px;
  transition: all 0.1s ease;
}
.buy-btn:hover,
.buy-btn:active {
  background-color: var(--btn-pink-new-hover-state);
}
.rec-tag-container {
  position: relative;
  /* background-color: #ffebf5; */
}
.rec-tag {
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: var(--font-size-p-primary);
  letter-spacing: 0.5pt;
  background-color: hsl(227, 100%, 70%);
  background-color: var(--btn-pink-new);

  /* transform: rotate(30deg); */
  /* top: 6.5%; */
  /* left: 51%; */

  /* NEW */
  left: 50%;
  top: 0;
  padding: 0.8rem 2rem;
  transform: translateX(-50%);
}

/* ////////////////////
CALENDLY SECTION
//////////////////// */

.calendly-section {
  background-color: var(--dark-accent-color);
  padding: 9.6rem 0;
}

.calendly-container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 5%;
}

.calendly-heading {
  text-align: center;
  margin-bottom: 5.2rem;
}

.calendly-inline-widget {
  width: 44rem;
  height: 49.1rem;
  margin: 0 auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* New code */
.info {
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
  background: #ffecba;
  gap: 1.4rem;
}
.info a {
  color: var(--pink-text);
}
.info a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.info__icon {
}
.info__p {
  font-size: var(--font-size-p-primary);
  line-height: 1.5;
}
.schedule-box {
  border-radius: 6px;
  overflow: hidden;
}
.schedule-btns {
  display: flex;
  flex-direction: column;
  background: #fff;
}
.schedule-btns a {
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 2.8rem;
  font-weight: 500;
  padding: 3.6rem 1.8rem;
  border-bottom: 1px solid #ccc;
  line-height: 1.3;
  transition: all 0.15s;
}
.schedule-btns a:last-child {
  border-bottom: none;
}
.schedule-btns a:hover {
  background: var(--btn-pink);
  color: #fff;
}

/* ////////////////////
CONTACTS SECTION
//////////////////// */

.contacts-section {
  background-color: #f3f0ff;
  padding: 9.6rem 0;
  letter-spacing: normal;
}

.contacts-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5%;
}

.contact-box {
  background-color: #ffd8ec;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 5rem;
  max-width: 74rem;
  margin: 0 auto;
}

.contact-box h2 {
  font-weight: 500;
  font-size: var(--font-size-secondary-heading);
  margin-bottom: 4.6rem;
}

.contact-box form {
  font-size: var(--font-size-p-primary);
}

.form-flex {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  column-gap: 4rem;
  row-gap: 2.4rem;
}

.form-subject {
  grid-column: span 2;
}
.form-message {
  grid-column: span 2;
}

.form-pair {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.contact-box label {
  font-weight: 500;
}

.contact-box textarea,
.contact-box input {
  font: inherit;
  background-color: #fff5fa;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  line-height: 1.5;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
}

.contact-box textarea:focus,
.contact-box input:focus {
  outline: 1px solid #333;
}

.contact-box input::placeholder,
.contact-box textarea::placeholder {
  color: #bababa;
}

.contact-box textarea {
  height: 130px;
  resize: none;
  max-height: 850px;
}

.contact-box button {
  background-color: var(--btn-pink);
  color: #fff;
  border: none;
  margin-top: 3rem;
  font-size: var(--font-size-p-primary);
  margin-left: auto;
  margin-right: auto;
  display: table;
  padding: 1.4rem 8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.contact-box button:hover {
  background-color: #ff77a7;
}

/* ////////////////////
TESTIMONIALS SECTION
//////////////////// */

.testimonials-section {
  padding: 8rem 0;
  padding-bottom: 15.6rem;
}

.testimonials-container {
  max-width: 145rem;
  margin: 0 auto;
  padding: 0 5%;
}

.testimonials-heading {
  font-family: "Baloo 2", cursive;

  font-size: 4.4rem;
  text-align: center;
  margin-bottom: 5.2rem;
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;

  /* color: transparent;
  background-image: linear-gradient(
    146deg,
    rgba(115, 29, 255, 1) 0%,
    rgba(231, 0, 81, 1) 100%
    );
  -webkit-background-clip: text; */

  color: #d02b7e;

  transition: all 0.2s ease;
  padding: 0;
}

.grid-testimonials {
  display: grid;
  gap: 4.8rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
}

.message-box {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  padding: 3rem 6.5rem;
  background-color: #ffedf5;
  box-shadow: 1rem 1rem 0 #e649804c;
  border-radius: 10px;
}

.message {
  font-size: var(--font-size-p-primary);
  line-height: 1.7;
  letter-spacing: normal;
  font-weight: 500;
}

.student-name {
  font-size: 2.2rem;
  line-height: 1.7;
  letter-spacing: 0.2pt;
  font-weight: 500;
}

.message,
.student-name {
  color: var(--pink-text);
}

/* ////////////////////
BACK TO TOP BUTTON
//////////////////// */

.btt {
  position: fixed;

  font-size: var(--font-size-p-primary);

  height: 6rem;
  width: 6rem;

  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: table;
  margin-bottom: 9.6rem;
  border-radius: 50%;
  font-weight: 500;

  text-shadow: 1.6px 1.6px 1.6px rgba(0, 0, 0, 0.2);

  transition: all ease 0.05s;

  right: 5%;

  bottom: -5rem;

  opacity: 0;
  pointer-events: none;
}

.btt:link,
.btt:visited {
  text-decoration: none;
  background-color: #fa6c9d;
  color: #fff;
}
.btt:hover {
  background-color: #e1618d;
  color: #fff;
  font-weight: 700;
}

.btti {
  font-size: 2.8rem;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
}

.btt.active {
  opacity: 1;
  pointer-events: auto;
}

/* ////////////////////
PAYMENT POPUP
//////////////////// */

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  transition: all 0.2s;

  /* will show with javascript */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.overlay-open2 {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.payment-popup {
  color: #000;

  position: fixed;
  z-index: 9999999999999;

  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);
  width: 60rem;

  background-color: #fff;

  overflow-y: scroll;
  transition: all 0.3s ease;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  max-height: 80vh;
  height: auto;

  /* will show with javascript */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.payment-popup::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.popup-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translate(-50%, -53%);
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.4rem 3rem;
  border-bottom: 1px solid #bbb;
}
.payment-popup h2 {
  font-size: 2.8rem;
  font-weight: 500;
}
.close-btn {
  height: 2.6rem;
  width: 2.6rem;
  cursor: pointer;
}
.dynamic-checkout {
  padding: 4rem 3rem;
  display: none;
  padding-bottom: 3rem;
}
.show-checkout {
  display: block;
}
.pop-up-price {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1.8rem;
}
.pop-up-item-name {
  font-size: var(--font-size-p-primary);
  line-height: 1.5;
  margin-bottom: 4rem;
}

.smart-button-container {
  overflow-y: scroll;
}

@media (max-width: 33.25em) {
  .payment-popup {
    width: 85%;
  }
}

/* New stuff */
.small-pink {
  font-size: 1.5rem;
  color: #c4265d;
  text-transform: uppercase;
  letter-spacing: 1.2pt;
  margin-bottom: 1.6rem;
  font-weight: 700;
}
.heading-atr {
  font-weight: 700;
  font-size: var(--font-size-secondary-heading);
  line-height: 1.3;
}
.heading-new {
  margin-bottom: 2.4rem;
}

.about-text-inside-margin {
  display: block;
}

.seo-purpose-h1 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sticky--warning {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 500px) {
  .btt {
    bottom: 8rem;
  }
}
